@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    border-radius: 0px !important;
}
*:focus{
    box-shadow: none !important;
}

.link-in-table{
    text-decoration: underline;
    text-underline-offset: 0.25em!important;
    --bs-link-underline-opacity: 0.5;
}


.table-md tbody tr td{
    padding: 5px;
}

.panel-form-list-items-box{
    max-height: 370px;
    overflow-x: hidden;
    overflow-y: auto;
}
.panel-form-list-items-box li:hover{
    background-color: rgba(0,0,0,0.05);
}
